@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
}
.display-flex{
    display: flex;
}

/* shared related styles */


/* header styles */


/* navbar related styles */
.nav-bar, .banner{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.nav-item a{ 
    text-decoration: none;
}
.nav-links{
    list-style: none;
    gap: 50px;

}
.home{
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
}
.cart{
    color: rgba(0, 0, 0, 1);
}
.dark-light{
    color: #8987A1;
}